@page "/KhoanthuDelete/{Id}"
@using Flic.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<h2>Xóa Loại khoản thu</h2>
@if (ErrorMsg!=""){
    <span class="alert"> @ErrorMsg</span>
}
@if (item != null)
{
    <p>Bạn chắc chắn xóa khoản thu : <b>@item.id - @item.MaLoaiKhoanThu</b></p>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Delete" value="Delete" />
                <input type="button" class="btn btn-secondary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public string Id { get; set; }
    Khoanthu item = new Khoanthu();
    public string ErrorMsg = "";
    protected override async Task OnInitializedAsync()
    {
        item = await Http.GetFromJsonAsync<Khoanthu>("api/Khoanthu/KhoanthuGetByID/" + Id);
    }
    protected async Task Delete()
    {
        var response = await Http.DeleteAsync("api/Khoanthu/KhoanthuDelete/" + Id);
        bool deleteResponse = await response.Content.ReadFromJsonAsync<bool>();
        if (deleteResponse)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Deleted Successfully!");
            NavigationManager.NavigateTo("Khoanthulist");
            ErrorMsg = "";
        }else {
            ErrorMsg = "Có lỗi khi xóa dữ liệu";
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Khoanthulist");
    }    
}